<!DOCTYPE html>
<html lang='ko'>

<head>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--stylesheets-->
	<link rel='stylesheet' href="/stylesheets/style.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Noto+Sans+KR:wght@300;400&display=swap">
	<link rel='stylesheet' href='/fullcalendar/main.css' />
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
	<title>Share Calendar</title>
	<script src="/jquery/dist/jquery.js"></script>
	<script>
		if ('<%= errorMsg %>') {
			alert('<%= errorMsg %>')
		}
	</script>
</head>

<body>
	<!-- 로그인 했는지 안 했는지 자바스크립에서 알아보기 위함-->
	<% if(isAuthenticated){ %>
	<input type="hidden" class="login-check" value="login">
	<% } else { %>
	<input type="hidden" class="login-check" value="noLogin">
	<% } %>
	<%- include('header.ejs')%>

	<!--본문 flex row-->
	<div class='d-flex mt-4'>
		<!-- toggler -->
		<button class="btn float-end me-5" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
			<span class="noto-sans text-direction-down">Calendar List</span>
		</button>
		<div class="offcanvas offcanvas-start w-20" id="offcanvas" data-bs-backdrop="false">
			<div class="offcanvas-header">
				<h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Calendar List</h6>
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
			</div>
			<div class="offcanvas-body px-0">
				<ul class="list-group">
					<li class="list-group-item" onclick="createCalendar()" style="cursor: pointer;">캘린더 추가</li>
					<% if(isAuthenticated){ 
						calendars.forEach(function(item){%>
					<li class="list-group-item">
						<div class="form-check form-switch ">
							<input class="form-check-input" type="checkbox" id="<%= item.calendar_id %>"
								onclick="changeVisible('<%= item.calendar_id %>')">
							<label class="form-check-label" onclick="editCalendar('<%= item.calendar_id %>')"
								style="cursor:pointer"><%= item.title %></label>
						</div>
					</li>
					<% }) %>
					<!--visible 표시하는 script-->
					<script>
						const visibles = JSON.parse('<%- JSON.stringify(visibles) %>');
						const calendarList = JSON.parse('<%- JSON.stringify(calendars) %>');
						for (let i = 0; i < "<%= calendars.length %>"; i++) {
							let calendarId = calendarList[i].calendar_id;
							if (visibles[i].visible == 'true') {
								$('#' + calendarId).prop('checked', true);
							} else {
								$('#' + calendarId).prop('checked', false);
							}
						}
					</script>
					<% } else { %>
					<%calendars.forEach(function(item){%>
					<li class="list-group-item">
						<div class="form-check form-switch ">
							<input class="form-check-input" type="checkbox" id="<%= item.calendar_id %>" checked
								disabled>
							<label class="form-check-label"><%= item.title %></label>
						</div>
					</li>
					<% }) %>
					<% } %>
				</ul>

			</div>
		</div>

		<!--캘린더-->
		<div id='calendar' style="width: 90%;"></div>
	</div>

	<!-- 캘린더 모달 -->
	<div class="modal fade" id="calendarModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="calendar-modal-title">캘린더 추가</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form action="/calendar" method="POST">
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label p-2 me-3">캘린더명</label>
							<div class="col-sm-9 p-0">
								<input class="form-control" type="text" name="title" required autofocus
									id="calendar-title" />
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label">설명</label>
							<div class="col-sm-10">
								<textarea class="p-2" rows="2" cols="40" name="description"
									id="calendar-description"></textarea>
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label">색상</label>
							<div class="col-sm-10">
								<select class="mt-2" name="color" id="calendar-color">
									<option value="#e53935" style="color:#e53935;">빨간색</option>
									<option value="#ffa000" style="color:#ffa000;">주황색</option>
									<option value="#ffeb3b" style="color:#fff263;">노란색</option>
									<option value="#aed581" style="color:#aed581;">연두색</option>
									<option value="#689f38" style="color:#689f38;">초록색</option>
									<option value="#42a5f5" style="color:#42a5f5;">파란색</option>
									<option value="#ab47bc" style="color:#ab47bc;">보라색</option>
									<option value="#9e9e9e" style="color:#9e9e9e;">회색</option>
								</select>
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-sm-3 col-form-label">공개 범위</label>
							<div class="form-check form-check-inline col-sm-2 mt-2">
								<input class="form-check-input" type="radio" name="bounds" value="public"
									id="calendar-public" required>
								<label class="form-check-label" for="calendar-public">공개</label>
							</div>
							<div class="form-check form-check-inline col-sm-3 mt-2">
								<input class="form-check-input" type="radio" name="bounds" value="private"
									id="calendar-private">
								<label class="form-check-label" for="calendar-private">비공개</label>
							</div>
						</div>
						<input type="hidden" id="calendar-id">
				</div>
				<div class="modal-footer add-button-container">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
					<button type="submit" class="btn btn-primary">저장</button>
				</div>
				<div class="modal-footer edit-button-container">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-danger" onclick="deleteCalendar()">삭제</button>
					<button type="button" class="btn btn-primary" onclick="updateCalendar()">저장</button>
				</div>
				</form>
			</div>

		</div>
	</div>
	<!-- 일정 모달 -->
	<div class="modal fade" id="eventModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="event-modal-title"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">일정명</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" id="event-title" />
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">시작</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" type="text" id="event-start" />
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">끝</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" type="text" id="event-end" />
						</div>
					</div>
					<!--캘린더 선택-->
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">캘린더</label>
						<div class="col-sm-10">
							<select class="mt-2" type="text" id="event-calendar-id">
								<% if(isAuthenticated){ 
									myCalendars.forEach(function(myItem){%>
								<option value="<%= myItem.calendar_id %>"><%= myItem.title %></option>
								<% })} %>
							</select>
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">설명</label>
						<div class="col-sm-10">
							<textarea rows="4" cols="40" id="event-description"></textarea>
						</div>
					</div>
					<input type="hidden" id="event-id">
				</div>
				<div class="modal-footer add-button-container">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
					<button type="button" class="btn btn-primary" onclick="saveEvent()">저장</button>
				</div>
				<div class="modal-footer edit-button-container">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-danger" onclick="deleteEvent()">삭제</button>
					<button type="button" class="btn btn-primary" onclick="updateEvent()">저장</button>
				</div>
			</div>
		</div>
	</div>
</body>

<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/moment/min/moment.min.js"></script>
<script src='/fullcalendar/main.js'></script>
<script src='/javascripts/main.js'></script>
<script src='/javascripts/calendar.js'></script>
<script src="/javascripts/event.js"></script>

</html>